<%- include('./partials/header.ejs') %>

<main>
    
    <form class="form form--toggle" data-form-type action="GET">
        <button class="btn btn--nav active" type="submit" data-form-type-btn value="join-game">Join game</button>
        <button class="btn btn--nav" type="submit" data-form-type-btn value="create-game">Create game</button>
    </form>

    <form class="form" data-nickname-form method="POST">
        <label for="username">Username:</label>
        <input name="username" data-nickname-input autocomplete="off" placeholder="Ideas: stinky, peepo, b00b3nj0yer"/>
        <button class="btn" type="submit">Let me in</button>
    </form>
</main>

<script src="/public/onboarding.js" type="module"></script>