<main>
    
    <section class="chat-container">

        <ul data-message-list class="messages"></ul>

        <form class="personal-message" data-chat-form method="POST">
            <input data-message-input autocomplete="off" />
            <button class="btn" type="submit">Send</button>
        </form>
    </section>
</main>

<script src="/public/chat.js" type="module"></script>