
<article class="loader loader--window" data-loader>
    <h1>Gulag being setup...</h1>
</article>

<main data-game-lobby class="hide">

    <article class="game" data-game-board>
        <a class="btn btn--exit" href="/exit">Leave game</a>

        <div data-default_user-ui data-admin_user-ui class="system-notice hide" id="system_message">
        </div>

        <div data-restart-game data-admin_user-ui class="hide">
            <button data-game-over-btns class="btn" value="restart">Restart game</button>
            <button data-game-over-btns class="btn" value="end_session">End session (for all)</button>
        </div>

        <div data-admin_user-ui data-select_opponent-ui class="hide">
            <p>Who will you fight?</p>

            <form method="POST" data-user-select class="users users--select">
                
            </form>
        </div>

        <div data-character-select class="game__characters hide" id="character_select">
            <div data-character-select-container class="game__character game__character--rock">
                <button data-character-select-btn class="btn" value="rock">Select</button>
                <img src="/public/images/rock.svg" alt="">
            </div>
            <div data-character-select-container class="game__character game__character--paper">
                <button data-character-select-btn class="btn" value="paper">Select</button>
                <img src="/public/images/paper.svg" alt="">
            </div>
            <div data-character-select-container class="game__character game__character--scissors">
                <button data-character-select-btn class="btn" value="scissors">Select</button>
                <img src="/public/images/scissors.svg" alt="">
            </div>
        </div>

    </article>
    
    <article class="gulag">

        <header class="gulag__header">
            <h2>Gulag chat</h2>
            <p><%= roomCode %></p>
        </header>

        <section class="gulag__chat">

            <header class="gulag__chat__header">
                <p data-admin-username></p>
            </header>

            <ul data-message-list class="gulag__chat__messages">
                
            </ul>

            <form class="form" class="gulag__chatbox" data-chat-form method="POST">
                <input data-message-input autocomplete="off" placeholder="Start typing..."/>
                <button class="btn btn--send" type="submit" disabled><i class="fa-solid fa-paper-plane"></i></button>
            </form>

        </section>

    </article>
</main>

<script src="/public/js/lobby.js" type="module"></script>

<!-- <li class="system-notice">
                    <p>System notice here</p>
                </li>
                <li class="message message--admin">
                    <div class="message__sender">
                        <picture>
                            <img src="" alt="">
                        </picture>

                        <span>noya</span>
                        <i class="fa-solid fa-crown"></i>
                    </div>

                    <div class="message__content">
                        <p>peeeepoeeepoeepoeopeope</p>
                    </div>
                </li>
                <li class="system-notice">
                    <p>System notice here</p>
                </li>
                <li class="system-notice system-notice--game">
                    <p>System notice here</p>
                </li>
                <li class="message message--sent">
                    <div class="message__sender">
                        <picture>
                            <img src="" alt="">
                        </picture>

                        <span>noya</span>
                    </div>

                    <div class="message__content">
                        <p>peeeepoeeepoeepoeopeope</p>
                    </div>
                </li>

                <li class="message">
                    <div class="message__sender">
                        <picture>
                            <img src="" alt="">
                        </picture>

                        <span>noya</span>
                    </div>

                    <div class="message__content">
                        <p>Hiii</p>
                    </div>
                </li> -->