/* =============================================================================
  #RESET
============================================================================= */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0;margin:0 0 1em}


/* =============================================================================
  #TOOLS
============================================================================= */
html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }

/* =============================================================================
  #CSS VARIABLES
============================================================================= */
:root {
  --background-color: hsl(241, 63%, 57%);

  --primary-color: hsl(16, 75%, 53%);
  --secondary-color: hsl(46, 85%, 60%);
  --accent-color: hsl(269, 77%, 78%);

  --success: hsl(148, 68%, 49%);
  --error: hsl(0, 71%, 57%);

  --white: hsl(0, 0%, 100%);
  --grey: hsl(240, 23%, 95%);
  --dark-grey: hsl(240, 31%, 94%);
  --dark-grey-text: hsl(240, 21%, 74%);
  
  --text-color: hsl(353, 44%, 4%);

  --default-padding: 1.5rem;
  --big-padding: 2.5rem;

  --default-font: 'Nunito', sans-serif;

  --border-radius: .3125rem;
}

/* =============================================================================
  #GENERAL
============================================================================= */
* {
    font-family: inherit;
    line-height: inherit;
    color: inherit;
}

html {
    min-height: 100%;
    height: 100%;
}

body {
    position: relative;

    min-height: 100vh;
    min-height: -webkit-fill-available;

    font-family: var(--default-font);
    font-size: 1rem;
    color: var(--text-color);

    overflow: hidden;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--background-color);
}

body::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url('/public/images/rps-pattern.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  scale: 1.05;
  /* background-color: hsl(0, 0%, 100%, .15);
  -webkit-mask-image: url('/public/images/rps-pattern.svg');
  mask-image: url('/public/images/rps-pattern.svg'); */
  z-index: 25;
}

.onboarding::before {
  opacity: 60%;
}

body > * {
  position: relative;
  z-index: 50;
}

.onboarding {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 0 .75rem;
}

.lobby--active::before {
    background-image: url('/public/images/rps-pattern-yellow.svg');
}

.lobby--active {
  background-color: var(--secondary-color);
}

.lobby {
  display: flex;
  padding: var(--default-padding);
}
/* =============================================================================
  #UTILITIES
============================================================================= */
.hide { display: none; }
*.hide {display: none!important; }
.hidden { opacity: 0; }
*.hidden { opacity: 0!important; }

/* Text aligns */
.ta-left { text-align: left; }
.ta-center { text-align: center; }
.ta-right { text-align: right; }


hr {
  margin: 1.25rem 0;

  height: .2rem;

  background-color: var(--grey);
  border: none;
  border-radius: .3125rem;
}
/* =============================================================================
  #TYPOGRAPHY
============================================================================= */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1.1;

  font-weight: 900;
  color: var(--white);
}

h1 {
  font-size: 2rem;
}

h1 + * {
  margin-top: .75rem;
}

p + p {
  margin-top: .75rem;
}
/* =============================================================================
  #HEADER
============================================================================= */
.title-header {
  position: relative;
  text-align: center;
}

  .tag {
    display: inline-block;

    text-transform: uppercase;
    font-weight: 800;
    color: var(--white);
    font-size: 1.125rem;

    padding: .5rem .75rem;
    border-radius: var(--border-radius);

    background-color: var(--text-color);
  }

  .tag + * {
    margin-top: .75rem;
  }

.title-header + * {
  margin-top: 1.5rem;
}

/* =============================================================================
  #MAIN
============================================================================= */
main {
  width: 100%;
  min-height: 100%;
}

.lobby main {
  min-height: 100%;
  width: calc(100% - 25rem);
}

.onboarding main {
    max-width: 28rem;
}

  .onboarding form {
    padding: var(--default-padding) 1.875rem;
    border-radius: .625rem;
    background-color: var(--white);
  }

    .form--toggle {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

      .form--toggle .btn + .btn {
        margin: 0;
      }

.onboarding form + form { 
  margin-top: var(--default-padding);
}

section + section { margin-top: 24px; }

/* .onboarding {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;
} */

/* =============================================================================
  #BUTTON
============================================================================= */
button {

  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;

}

.btn {
  display: block;
  align-items: center;
  justify-content: center;

  padding: .625rem 1.25rem;
  border-radius: 3.125rem;
  width: 100%;

  background-color: var(--primary-color);
  color: var(--white);

  text-transform: uppercase;
  text-decoration: none;

  font-weight: 800;
  font-size: 1.125rem;

  min-width: 6.25rem;

  transition: all 250ms ease-in-out;
}

.btn:disabled {
  pointer-events: none;
}

.btn--nav {
  width: auto;
  display: inline-block;
  padding: 0;
  min-width: auto;
  color: var(--dark-grey-text);
  background-color: transparent;
  font-size: 1rem;
}

.btn--exit {
      position: absolute;
    top: 0;
    left: 0;
    width: auto;
}

.btn--nav.active {
  position: relative;
  color: var(--primary-color);
}

.btn--nav.active::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.325rem;

  background-color: var(--primary-color);
  height: .1875rem;
  border-radius: .1875rem;
}

* + .btn {
  margin-top: .75rem;
}

.btn--icon {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  
  max-width: 2.1875rem;
  min-width: 2.1875rem;

  width: 2.1875rem;
  height: 2.1875rem;

  background-color: var(--text-color);
}

  .btn--icon i {
    font-size: 1rem;
  }

.onboarding .btn--icon {
  position: absolute;
  top: 50%;
  right: calc(-2.1875rem + -1rem);

  margin: 0;
  transform: translateY(-50%);
}

.btn:hover {
  transform: scale(1.1);
}

.btn.btn--icon:hover,
.btn.btn--send:hover {
  transform: translateY(-50%) scale(1.1);
}

.onboarding .btn.btn--icon:hover i {
  /* transform: rotate(45deg); */
    animation: rotate 2s linear infinite;
}

.loader {
    display: flex;
    align-items: center;

    justify-content: center;
    background-color: var(--white);

    width: calc(100% - 1.5rem);
    height: calc(100% - 1.5rem);
    
    position: absolute;
    z-index: 100;
    opacity: 100%;
    pointer-events: none;
}

.loader--window {
  width: 100%;
  height: 100%;
  inset: 0;
  font-weight: 700;
  color: var(--white);
  background-color: var(--background-color);
  
}

.loader--window::before {
  
  content: "";
  position: absolute;
  inset: 0;

  background-image: url('/public/images/rps-pattern.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  scale: 1.05;
  /* background-color: hsl(0, 0%, 100%, .15);
  -webkit-mask-image: url('/public/images/rps-pattern.svg');
  mask-image: url('/public/images/rps-pattern.svg'); */
  z-index: 25;
  opacity: 60%;
}

.loader i {
  font-size: 1.5rem;
  color: var(--dark-grey-text);
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* =============================================================================
  #FORM STUFF
============================================================================= */
.onboarding .form--game-setup {
  position: relative;
  width: 100%;
  padding: 0;

  background-color: transparent;
}

.form-section {
  border-radius: .625rem;
  background-color: var(--white);
  padding: var(--default-padding) 1.875rem;
  padding-bottom: calc(1.5rem + 1.125rem);
}

  .game-setup--icon {
    position: relative;
    /* position: absolute;
    top: 50%;
    left: calc(-1.25rem + -3.75rem);

    transform: translateY(-50%); */

    padding: var(--default-padding) 1.875rem;
    border-radius: .625rem;
    height: 4.2rem;

    margin: 0 0 var(--default-padding) 0;

    background-color: var(--white);

    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
    display: flex;
    gap: 1.2rem;
  }

    .game-setup--icon input {
      position: absolute;
        
      appearance: none;
      opacity: 0;
      width: 0;
      padding: 0;
      top: 0;
    }

    .game-setup--icon input:checked + .avatar::before,
    .game-setup--icon .avatar:hover::before {
      border: .125rem solid var(--success);
    }

    .game-setup--icon label {
      margin: 0;
    }

    .avatar {
      position: relative;
      display: flex;
      width: 1.875rem;
      height: 1.875rem;
      margin: 0;

      cursor: pointer;
      border-radius: 50%;
      transition: all 250ms ease-in-out;
    }

    .avatar:hover {
      transform: scale(1.1);
    }
    
    .avatar::before {
      content: "";
      position: absolute;
      inset: -0.3125rem;
      border: .125rem solid hsl(240deg 36.05% 87.85%);
      border-radius: 50%;

      transition: all 250ms ease-in-out;
    }

      .avatar img {
        width: 100%;
        height: 100%;

        border-radius: 50%;
        object-position: center;
        object-fit: cover;
      }

  .onboarding .form--toggle {

  }

  input {
    width: 100%;
    color: var(--text-color);
    background-color: var(--dark-grey);
    font-weight: 700;

    font-size: 1rem;

    padding: .875rem .75rem;
    border-radius: var(--border-radius);

    border:none;
    background-image:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  input::placeholder {
    color: var(--dark-grey-text);
  }

  .onboarding .form--game-setup button[type="submit"] {
    position: absolute;
    bottom: -1.125rem;
    left: 50%;

    margin: 0;

    width: auto;
    transform: translateX(-50%);
  }

  .onboarding .form--game-setup button[type="submit"]:hover {
        transform: translateX(-50%) scale(1.1);
  }
  
  label {
    display: block;
    margin-bottom: .75rem;
    font-weight: 700;

    font-size: 1.125rem;
  }


.gulag {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;

  color: var(--text-color);

  padding: var(--default-padding) var(--default-padding) var(--default-padding) 0;

  height: 100%;
  width: 25rem;

  display: flex;
  flex-direction: column;
  /* gap: var(--default-padding); */
  font-size: .875rem;
}

.gulag h1, h2 {

  color: var(--text-color);
}

  .gulag__header {
    border-radius: .625rem;
    min-height: 10%;
    background-color: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    text-align: center;
    text-transform: uppercase;
  }

    .gulag__header p {
      color: var(--white);
      margin-top: .1875rem;
      font-weight: 700;
      border-radius: .225rem;
      font-size: .775rem;
      padding: .1875rem .375rem;
      background-color: var(--background-color);
    }

  .gulag__chat {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 90%;

    border-radius: .625rem;

    padding-bottom: var(--default-padding);

    background-color: var(--white);
  }

    .gulag__chat__header {

      min-height: 3.375rem;
      
      padding: 1.25rem;

      border-top-left-radius: .625rem;
      border-top-right-radius: .625rem;
      background-color: var(--primary-color);

      color: var(--white);
      text-align: center;
      font-size: .875rem;
      /* margin-bottom: 1.125rem; */
    }

      .gulag__chat__header span {
        padding: .1rem .275rem;
        border-radius: .225rem;
        margin-right: .1rem;
        font-weight: 700;
        color: var(--primary-color);
        background-color: var(--white);
      }

    .gulag__chat__messages {
      padding: 0 var(--default-padding);
      display: block;
      height: 100%;
      margin-bottom: .875rem;
      overflow-y: scroll;

      padding-top: .875rem;
    }

    .gulag .form {
      padding: 0 var(--default-padding) 0 var(--default-padding);
      position: relative;
    }


    .game {
      position: relative;
      height: 100%;
      /* width: 75rem; */
    }

    .game--select {
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
    }

      .game__character {
        margin-bottom: -2.2rem;
      }

        .game__character.game__character--paper {
          margin-left: .8rem;
        }


        .game__character > img {
          width: 80%;
          margin-top: var(--big-padding);
        }

        .game__character.game__character--scissors .btn {
          margin-left: .7rem;
        }

        .game__character .btn {
          min-width: auto;
          width: auto;
          font-size: 1.4rem;
          margin: 0;
          background-color: var(--background-color);
        }

    .game--message {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .btn--send {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: calc(1.8rem + 0.4rem);

      background-color: var(--background-color);
      display: flex;
      align-items: center;
      justify-content: center;

      margin: 0;
      padding: 0;

      width: 1.8rem;
      min-width: 1.8rem;
      height: 1.8rem;
      opacity: 100%;
    }

      .btn--send i {
        font-size: .8125rem;
      }

      .gulag input {
        padding-right: calc(1.8rem + 1rem);
      }

      .btn--send:disabled {
        opacity: 0;
      }


  .message {

  }

    .message__sender {
      display: flex;
      align-items: center;
    }

      .message__sender picture {
        display: inline-block;

        width: 1.5rem;
        height: 1.5rem;

        margin-right: .475rem;

        border-radius: 1rem;
        background-color: var(--dark-grey);
      }

      .message__sender span {
        font-weight: 700;
      }

    .message__content {
      display: inline-block;
      margin-top: .5rem;
      border-radius: .3125rem;

      font-weight: 700;
      color: var(--white);
      overflow-wrap: break-word;
      padding: .75rem .875rem;

      background-color: #8DA4B8;
      max-width: 90%;
    }
    

    .message--sent {
      text-align: right;
    }

      .message--sent .message__sender {
        justify-content: flex-end;
      }

      .message--sent .message__content {
        background-color: #2B9CFF;
        margin-left: auto;
      }

      .message--admin .message__content {
        background-color: var(--background-color);
      }

      .message--admin .message__sender span,
      .message--admin .message__sender i {
        color: var(--background-color);
      }

      .message--admin i {
        margin-left: .375rem;
      }

    .message + .message, .message + * { 
      margin-top: 1.125rem;
    }

    .message--double {
      margin-top: 0!important;
    }


    .system-notice {
      text-align: center;

      font-weight: 700;
      color: var(--dark-grey-text);
      padding: .75rem 0 ;
      border-top: 2px solid var(--dark-grey);
      border-bottom: 2px solid var(--dark-grey);
    }

    .system-notice + * {
      margin-top: 1.125rem;
    }

    .system-notice + .system-notice {
      margin-top: 0;
      border-top: none;
    }

    .system-notice--game {

    }

      .system-notice--game p {
        padding: .75rem 0 ;
        background-color: var(--dark-grey);
        border-radius: .3125rem;
      }

    .system-notice--game.won, .system-notice--game.fail {
      color: var(--white);
    }

    .system-notice--game.won {
      background-color: var(--success);
    }
    .system-notice--game.fail {
      background-color: var(--error);
    }

    .game .system-notice {
      border: none;
      color: var(--white);
      font-size: 1.25rem;
      text-transform: uppercase;
      font-weight: 800;
      padding: 1rem .75rem;
      border-radius: .425rem;

      max-width: 60%;
      background-color: var(--background-color);
    }

    .hidden-text {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
    }