/* =============================================================================
  #RESET
============================================================================= */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0;margin:0 0 1em}


/* =============================================================================
  #TOOLS
============================================================================= */
html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }

/* =============================================================================
  #CSS VARIABLES
============================================================================= */
:root {
  --background-color: hsl(241, 63%, 57%);

  --primary-color: hsl(16, 75%, 53%);
  --secondary-color: hsl(46, 85%, 60%);
  --accent-color: hsl(269, 77%, 78%);

  --success: hsl(136, 42%, 51%);
  --error: hsl(0, 71%, 57%);

  --white: hsl(0, 0%, 100%);
  --grey: hsl(240, 23%, 95%);
  --dark-grey: hsl(240, 31%, 94%);
  --dark-grey-text: hsl(240, 21%, 74%);
  
  --text-color: hsl(353, 44%, 4%);

  --default-padding: 1.5rem;
  --big-padding: 2.5rem;

  --default-font: 'Nunito', sans-serif;

  --border-radius: .3125rem;
}

/* =============================================================================
  #GENERAL
============================================================================= */
* {
    font-family: inherit;
    line-height: inherit;
    color: inherit;
}

html {
    min-height: 100%;
    height: 100%;
}

body {
    position: relative;

    min-height: 100vh;
    min-height: -webkit-fill-available;

    font-family: var(--default-font);
    font-size: 1rem;
    color: var(--text-color);
    /* line-height: 1.6; */
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--background-color);
}

.onboarding {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 0 .75rem;
}
/* =============================================================================
  #UTILITIES
============================================================================= */
.hide { display: none; }
*.hide {display: none!important; }
.hidden { opacity: 0; }
*.hidden { opacity: 0!important; }

/* Text aligns */
.ta-left { text-align: left; }
.ta-center { text-align: center; }
.ta-right { text-align: right; }


hr {
  margin: 1.25rem 0;

  height: .25rem;

  background-color: #21242C;
  border: none;
  border-radius: .3125rem;
}
/* =============================================================================
  #TYPOGRAPHY
============================================================================= */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1.1;

  font-weight: 900;
  color: var(--white);
}

h1 {
  font-size: 2rem;
}

h1 + * {
  margin-top: .75rem;
}

p + p {
  margin-top: .75rem;
}
/* =============================================================================
  #HEADER
============================================================================= */
.title-header {
  position: relative;
  text-align: center;
}

  .tag {
    display: inline-block;

    text-transform: uppercase;
    font-weight: 800;
    color: var(--white);
    font-size: 1.125rem;

    padding: .5rem .75rem;
    border-radius: var(--border-radius);

    background-color: var(--text-color);
  }

  .tag + * {
    margin-top: .75rem;
  }

.title-header + * {
  margin-top: 1.5rem;
}

/* =============================================================================
  #MAIN
============================================================================= */
main {
  width: 100%;
  min-height: 100%;
}

.onboarding main {
    max-width: 28rem;
}

  .onboarding form {
    padding: var(--default-padding) 1.875rem;
    border-radius: .625rem;
    background-color: var(--white);
  }

    .form--toggle {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

      .form--toggle .btn + .btn {
        margin: 0;
      }

.onboarding form + form { 
  margin-top: var(--default-padding);
}

section + section { margin-top: 24px; }

/* .onboarding {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;
} */

/* =============================================================================
  #BUTTON
============================================================================= */
button {

  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;

}

.btn {
  display: block;
  align-items: center;
  justify-content: center;

  padding: .625rem 1.25rem;
  border-radius: 3.125rem;
  width: 100%;

  background-color: var(--primary-color);
  color: var(--white);

  text-transform: uppercase;
  text-decoration: none;

  font-weight: 800;
  font-size: 1.125rem;

  min-width: 6.25rem;

  transition: all 250ms ease-in-out;
}


.btn--nav {
  width: auto;
  display: inline-block;
  padding: 0;
  min-width: auto;
  color: var(--dark-grey-text);
  background-color: transparent;
  font-size: 1rem;
}

.btn--nav.active {
  position: relative;
  color: var(--primary-color);
}

.btn--nav.active::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.325rem;

  background-color: var(--primary-color);
  height: .1875rem;
  border-radius: .1875rem;
}

* + .btn {
  margin-top: .75rem;
}

.btn:hover {
  transform: scale(1.1);
}
/* =============================================================================
  #FORM STUFF
============================================================================= */
.onboarding .form[data-nickname-form] {
  position: relative;
  width: 100%;

  padding-bottom: calc(1.5rem + 1.125rem);
}

  .onboarding .form--toggle {

  }

  .onboarding input {
    width: 100%;
    color: var(--text-color);
    background-color: var(--dark-grey);
    font-weight: 700;

    font-size: 1rem;

    padding: .875rem .75rem;
    border-radius: var(--border-radius);

    border:none;
    background-image:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .onboarding input::placeholder {
    color: var(--dark-grey-text);
  }

  .onboarding .form[data-nickname-form] button[type="submit"] {
    position: absolute;
    bottom: -1.125rem;
    left: 50%;

    margin: 0;

    width: auto;
    transform: translateX(-50%);
  }

  .onboarding .form[data-nickname-form] button[type="submit"]:hover {
        transform: translateX(-50%) scale(1.1);
  }
  
  
  label {
    display: block;
    margin-bottom: .75rem;
    font-weight: 700;

    font-size: 1.125rem;
  }